<div class="bg-white">
    <div class="flex justify-between max-w-5xl mx-auto items-center px-5">
        <img src="/images/logo_cencala.png" alt="Logo">
        <div>
            <h2 class="font-bold">Desarrollo de Software</h2>
            <p class="text-sm">Semestre 01 de 2025</p>
        </div>
    </div>
</div>
<nav class="bg-gray-300">
    <div class="flex justify-around max-w-5xl mx-auto">
        <a class="p-4 hover:bg-slate-500 hover:text-white rounded-sm" href="/index.html">Inicio</a>
        <a class="p-4 hover:bg-slate-500 hover:text-white rounded-sm" href="/proyectos/index.html">Proyectos</a>
        <a class="p-4 hover:bg-slate-500 hover:text-white rounded-sm" href="/estudiantes.html">Estudiantes</a>
    </div>
</nav>